<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <div id="app">
      <p>{{message}}</p>
      <p v-text="message"></p>
      <p v-once="message"></p>
      <p>{{number * 10}}</p>
      <p>{{hello("hoge")}}</p>
      <div v-html="html"></div>

      <!-- v-bind -->
      <a v-bind:href="url">Google</a>
      <!-- v-bind 省略 -->
      <a :href="url">Google</a>
      <a :[attribute]="url">Google</a>
      <!-- 下記3つは同じ意味 -->
      <a :href="url" :id="number">Google</a>
      <a v-bind="{href:url, id:number}">Google</a>
      <a v-bind="googleObj">Google</a>

      <!-- v-on -->
      <p>{{count}}</p>
      <button v-on:click="countUp">click</button>
      <button v-on:click="countUp($event, 2)">click</button>
      <p v-on:mousemove="changeMousePosition">on mouse</p>
      <p>X:{{x}}, Y:{{y}}</p>
      <input v-on:keyup.enter="myAlert" type="text" />
      <input @[event].enter="myAlert" type="text" />

      <!-- .stop .prevent -->
      <a v-on:click.prevent :href="url">Google</a>
      <a v-on:click.prevent.stop :href="url">Google</a>

      <!-- v-model -->
      <div></div>
      <input v-model="message" type="text" />

      <!-- computedは関数で参照しているdataが変更された時に反応する-->
      <p>{{lessThanThreeComputed}}</p>
      <!-- methodsは otherCountが更新された場合でも反応する-->
      <p>{{lessThanThreeMethod()}}</p>
      <p>{{otherCount}}</p>
      <button v-on:click="otherCount += 1">click</button>

      <h1 :class="classObj">Hello</h1>
      <h1 :class="[{red: isActive}, bg]">Hello</h1>
      <button @click="isActive = !isActive">切り替え</button>

      <h1 :style="styleObj">Hello</h1>
      <h1 :style="[baseStyles, styleObj]">Hello</h1>

      <!-- v-if -->
      <p v-if="ok">OK</p>
      <p v-else-if="maybeOk">maybe OK</p>
      <p v-else>Not OK</p>

      <template v-if="ok">
        <p>Hello</p>
        <p>Good Bye</p>
      </template>
      <button @click="ok = !ok">ok</button>

      <!-- v-show -->
      <p v-show="ok">Show</p>

      <!-- v-for -->
      <ul>
        <li v-for="(fruit, index) in fruits">({{index}}){{fruit}}</li>
        <li v-for="(value, key, index) in object">
          ({{index}}-{{key}}){{value}}
        </li>
        <li v-for="n in 10">{{n}}</li>
      </ul>

      <ul>
      <template v-for="(fruit, index) in fruits">
        <li >({{index}}){{fruit}}</li>
        <hr> <!-- 例としてまとめられるよって意味 -->
      </template>
      <ul>

      <!-- keyは指定すること -->
      <ul>
        <div v-for="fruit in fruits" :key="fruit">
          <li >{{fruit}}</li>
        </div>
      </ul>

    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          message: "hello",
          number: 5,
          html: "<h1>h1</h1>",
          url: "https://www.google.co.jp/",
          attribute: "href",
          googleObj: {
            href: "https://www.google.co.jp/",
            id: 1,
          },
          count: 0,
          otherCount: 0,
          x: 0,
          y: 0,
          event: "keyup",
          isActive: true,
          color: "red",
          bg: "bg-blue",
          styleObj: {
            color: "red",
            "background-color": "blue",
          },
          baseStyles: {
            fontSize: "45px",
            color: "green",
          },
          ok: true,
          maybeOk: false,
          fruits: ["りんご", "バナナ", "ぶどう"],
          object: {
            firstName: "太郎",
            lastName: "田中",
            age: 21,
          },
        },
        computed: {
          lessThanThreeComputed: function () {
            console.log("Computed");
            return this.count > 3 ? "3より上" : "3以下";
          },
          classObj: function () {
            return {
              red: this.isActive,
              "bg-blue": !this.isActive,
            };
          },
        },
        methods: {
          lessThanThreeMethod: function () {
            console.log("Method");
            return this.count > 3 ? "3より上" : "3以下";
          },
          changeMessage: function () {
            this.message = "fuga";
          },
          hello: function (name) {
            return this.message + name;
          },
          countUp: function (event, n = 1) {
            this.count += 1 * n;
          },
          changeMousePosition: function (e) {
            this.x = e.clientX;
            this.y = e.clientY;
          },
          myAlert: function () {
            alert("enter");
          },
        },
        watch: {
          count: function () {
            const self = this;
            setTimeout(function () {
              self.count = 0;
            }, 3000);
          },
        },
      });
    </script>
  </body>
</html>
